NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_RELEASE_VERSION=0.1.0-dev
NEXT_PUBLIC_OBSERVABILITY_ENABLED=false
NEXT_PUBLIC_OBSERVABILITY_PROVIDER=http
NEXT_PUBLIC_OBSERVABILITY_ENDPOINT=
NEXT_PUBLIC_OBSERVABILITY_AUTH_TOKEN=
NEXT_PUBLIC_OBSERVABILITY_SENTRY_DSN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_API_VERSION=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
AUTOMATION_JOB_SECRET=
AURA_AUTOMATION_DISPATCH_URL=
AURA_WHATSAPP_WEBHOOK_URL=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_APP_ENV=local
EXPO_PUBLIC_RELEASE_VERSION=0.1.0-dev
EXPO_PUBLIC_OBSERVABILITY_ENABLED=false
EXPO_PUBLIC_OBSERVABILITY_PROVIDER=http
EXPO_PUBLIC_OBSERVABILITY_ENDPOINT=
EXPO_PUBLIC_OBSERVABILITY_AUTH_TOKEN=
EXPO_PUBLIC_OBSERVABILITY_SENTRY_DSN=
AURA_INTEGRATION_SUPABASE_URL=
AURA_INTEGRATION_SUPABASE_ANON_KEY=
AURA_INTEGRATION_SUPABASE_SERVICE_ROLE_KEY=
AURA_EDGE_BASE_URL=
AURA_INTEGRATION_META_READY=false
E2E_BASE_URL=http://127.0.0.1:3000
E2E_USER_EMAIL=
E2E_USER_PASSWORD=
E2E_CLIENT_NAME=
E2E_SEND_TEMPLATE=false
